/* #Shortcodes
================================================== */

.wpb_text_column ul, .box-content-wrap ul {
	list-style: disc inside none;
}

/*========== Showcase Shortcode ==========*/

.fullwidth-layout .wpb_showcase_widget.full-width {
	margin: 0!important;
	width: 100%!important;
}
.wpb_showcase_widget {
	overflow: hidden;
}

/*========== Clients Shortcode ==========*/

ul.clients-items {
	margin-right: -25px;
	list-style: none;
}
.client-item {
	float: left;
	margin-right: 25px;
	width: 135px;
	margin-bottom: 25px;
}
.client-item figure {
	position: relative;
	width: 135px;
	height: 135px;
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	opacity: 0.75;
	-moz-opacity: 0.75;
	filter:alpha(opacity= 75);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.client-item figure:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
.client-item figure img {
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height:100%;
	max-width:100%;
	width: auto;
	display: block;
}

/*========== Boxed Content Shortcode ==========*/

.wpb_box_text .box-content-wrap {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 20px 20px 1px;
}
.wpb_box_text.whitestroke .box-content-wrap {
	border: 1px solid transparent;
}

/*========== Contact Form Shortcode ==========*/

.wpcf7 p {
	clear: both;
	height: auto;
	overflow: hidden;
	margin-bottom: 0;
}
span.wpcf7-form-control-wrap {
	display: block;
}
.wpcf7 span.wpcf7-not-valid-tip {
	top: 3px;
	left: 5px;
	background: transparent;
	color: red;
	border: 0;
}
.wpcf7 .wpcf7-captchar + span.wpcf7-not-valid-tip {
	top: 10px;
	left: 78px;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 select {
	width: 95%;
	margin-top: 6px;
	margin-bottom: 20px;
}
.sidebar .wpcf7 input[type="text"], .sidebar .wpcf7 textarea, .sidebar .wpcf7 select {
	width: 88%;
}
.wpcf7 textarea {
 	max-width: 95%;
}
.wpcf7 .wpcf7-captchac {
	float: left;
	border: 1px solid #CCC;
	padding: 3px 0 4px;
	margin: 6px 10px 0 0;
}
.wpcf7 input.wpcf7-captchar {
	float: left;
	width: 45%;
}
.wpcf7 input.wpcf7-submit[type="submit"] {
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	height: auto;
	padding: 5px 20px 5px 10px;
	background-image: url('images/button-arrow.png');
	background-position: 90% center;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.wpcf7 input.wpcf7-submit[type="submit"]:hover {
	padding-right: 26px;
}

/*========== Code Shortcode ==========*/

code {
	display: block;
	padding: 10px 20px 20px;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f7f7f7;
	font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace;
	overflow: auto;
	overflow-Y: hidden;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code p {
	font-size: 11px;
	margin-bottom: 12px;
}

/*========== Table Shortcodes ==========*/

table.sf-table {
	width: 100%;
	display: table;
}
table.striped_minimal tr:nth-of-type(even), table.striped_bordered tr:nth-of-type(even) {
	background-color: #f7f7f7;
}
table.sf-table th {
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}
table.sf-table td {
	padding: 10px 20px;
}
table.standard_minimal th {
	padding: 10px 30px 10px 0;
	border-bottom: 2px solid #e4e4e4;
}
table.striped_minimal th {
 	border-bottom: 2px solid #e4e4e4;
}
table.standard_minimal td {
	padding: 10px 30px 10px 0;
	border-bottom: 1px solid #e4e4e4;
}
table.standard_bordered, table.striped_bordered {
	border: 1px solid #e4e4e4;
}
table.standard_bordered tr, table.striped_bordered tr {
	border-top: 1px dotted #e4e4e4;
}
table.standard_bordered th, table.standard_bordered td, table.striped_bordered th, table.striped_bordered td {
	border-left: 1px dotted #e4e4e4;
}

/*========== Pricing Table Shortcodes ==========*/

.pricing-table-wrap {
	height: auto;
	overflow: hidden;
	clear: both;
	padding-bottom: 20px;
}
.pricing-table-column {
	float: left;
	border: 1px solid #e4e4e4;
	border-left-width: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.pricing-table-column:first-child {
	border-left: 1px solid #e4e4e4;
}
.columns-5 .pricing-table-column {
	width: 20%;
}
.columns-4 .pricing-table-column {
	width: 25%;
}
.columns-3 .pricing-table-column {
	width: 33.3%;
}
.columns-2 .pricing-table-column {
	width: 50%;
}
.columns-1 .pricing-table-column {
	width: 100%;
}
.pricing-table-column:first-child, .pricing-table-wrap.bordered .pricing-table-column, .pricing-table-wrap.bordered_alt .pricing-table-column {
	border-left: 1px solid #e4e4e4;
}
.pricing-table-price {
	padding: 18px 30px 10px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	border-bottom: 2px solid #e4e4e4;
}
.pricing-table-price span {
	font-size: 12px;
	font-weight: normal;
	margin-left: 4px;
}
.pricing-table-package {
	padding: 20px 30px;
	font-size: 18px;
	border-bottom: 1px dotted #e4e4e4;
}
.column-highlight .pricing-table-package {
	font-weight: bold;
}
.pricing-table-details {
	padding: 20px 30px;
}
.pricing-table-column .sf-button {
	margin-top: 10px;
	margin-bottom: 0;
}
.pricing-table-wrap.bordered, .pricing-table-wrap.bordered_alt {
	margin: 0 -10px;
}
.pricing-table-wrap.bordered .pricing-table-column, .pricing-table-wrap.bordered_alt .pricing-table-column {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 10px;
}
.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
	width: 22.7%;
}
.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
	width: 31%;
}
.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
	width: 47.6%;
}
.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
	width: 97.2%;
}
.pricing-table-wrap.bordered .pricing-table-package {
	padding: 20px;
	font-size: 16px;
	line-height: 18px;
}
.pricing-table-wrap.bordered .pricing-table-price {
	padding: 0;
	float: right;
	font-size: 18px;
	line-height: 18px;
	border-bottom: 0;
}
.pricing-table-wrap.bordered_alt .pricing-table-price {
	border-bottom: 1px dotted #e4e4e4;
}
.labelled-pricing-table .pricing-table-column {
	margin-top: 15px;
	border: 0;
	padding-left: 1px;
}
.labelled-pricing-table .pricing-table-column.column-highlight {
	margin-top: 0;
	position: relative;
	padding-left: 0;
}
.labelled-pricing-table .pricing-table-column.column-highlight + .pricing-table-column {
	padding-left: 0;
}
.labelled-pricing-table .pricing-table-column.label-column {
	margin-top: 104px;
}
.labelled-pricing-table .pricing-table-price {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	padding: 12px;
	border: 0;
}
.labelled-pricing-table .pricing-table-price span {
	font-weight: normal;
}
.labelled-pricing-table .pricing-table-package {
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	text-align: center;
	padding: 9px 5px 8px;
	border: 0;
}
.labelled-pricing-table .column-highlight .pricing-table-package {
	padding-top: 16px;
	padding-bottom: 16px;
}
.labelled-pricing-table.columns-5 .pricing-table-package {
	font-size: 20px;
}
.labelled-pricing-table .pricing-table-label-row, .labelled-pricing-table .pricing-table-row {
	text-align: center;
	padding: 12px;
}
.labelled-pricing-table .alt-row {
	background: #ccc;
}
.labelled-pricing-table .pricing-table-label-row {
	display: none;
	font-weight: bold;
}
.labelled-pricing-table .label-column .pricing-table-label-row {
	display: block;
	font-weight: normal;
}
.labelled-pricing-table .lpt-button-wrap {
	padding: 20px 10px;
	text-align: center;
}
.labelled-pricing-table .column-highlight .lpt-button-wrap {
	padding: 30px 10px;
}
.labelled-pricing-table .lpt-button-wrap a {
	display: inline-block;
	margin: 0;
}

/*========== Divider Shortcodes ==========*/

.wpb_divider {
	display: block;
	border-bottom-width: 1px;
	margin: 0 0 30px;
}
.wpb_divider.standard {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.wpb_divider.thin {
	border-bottom-style: solid;
}
.wpb_divider.dotted {
	border-bottom-style: dotted;
}
.wpb_divider.go_to_top a {
	text-align: right;
	display: block;
	display: bl;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	margin-bottom: 30px;
}
.wpb_divider.go_to_top_icon1 {
	position: relative;
	height: 9px;
	border-bottom: 1px dotted transparent;
}
.wpb_divider.go_to_top_icon2 {
	position: relative;
	height: 10px;
	border-bottom: 1px dotted transparent;
}
.wpb_divider.go_to_top_icon1 a, .wpb_divider.go_to_top_icon2 a {
	position: absolute;
	right: 0;
	display: block;
	padding: 0 0 0 10px;
	text-decoration: none;
}
.wpb_divider.go_to_top_icon2 a i {
	padding-left: 6px;
}


/*========== Button Shortcodes ==========*/

a.sf-button {
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	height: auto;
	padding: 5px 10px;
	margin: 0 20px 20px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	transition:all .2s ease-out;
	border: 0;
	text-shadow: none;
	text-decoration: none;
	font-weight: bold;
}
a.sf-button:hover {
	border: 0!important;
	box-shadow:0 2px 3px 0 rgba(0,0,0,.2);
	text-decoration: none!important;
}
a.sf-button.medium {
	font-size: 14px;
	line-height: 20px;
}
a.sf-button.large {
	font-size: 18px;
	line-height: 26px;
}
a.sf-button .arrow {
	background-image: url('images/button-arrow.png');
	display: inline-block;
	width: 6px;
	height: 9px;
	margin-left: 7px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
a.sf-button.medium .arrow {
	vertical-align: 1px;
}
a.sf-button.large .arrow {
	vertical-align: 2px;
}
a.sf-button:hover .arrow {
	margin-left: 12px;
}
a.sf-button.lightgrey .arrow, a.sf-button.green .arrow, a.sf-button.limegreen .arrow {
	background-image: url('images/button-arrow2.png');
}
a.sf-button.slightlyrounded, a.sf-button.slightlyroundedarrow {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
a.sf-button.rounded, a.sf-button.roundedarrow {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
a.sf-button.outerglow {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	box-shadow: 0 0 4px rgba(0,0,0,.3);
}
a.sf-button.dropshadow {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 1px 1px 0.6px 0 rgba(0,0,0,.75);
	-webkit-box-shadow: 1px 1px 0.6px 0 rgba(0,0,0,.75);
	box-shadow: 1px 1px 0.6px 0 rgba(0,0,0,.75);
}
a.sf-button.black {
	background-color: #212121;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.grey {
	background-color: #656565;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.blue {
	background-color: #0000cc;
	color: #fff;
}
a.sf-button.lightgrey {
	background-color: #cbcbcb;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
}
a.sf-button.purple {
	background-color: #5f5ba7;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.lightblue {
	background-color: #00adef;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.turquoise {
	background-color: #1bbbb3;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.green {
	background-color: #65cb00;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
}
a.sf-button.limegreen {
	background-color: #cbff00;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
}
a.sf-button.orange {
	background-color: #f90;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
a.sf-button.pink {
	background-color: #ed135a;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(247,247,247,0) 50%, rgba(247,247,247,0) 50.12%);
	color: #fff;
}
.sf-button.lightblue:hover {
	background: #0099ff;
}
.sf-button.pink:hover {
	background: #ad2043;
}
.sf-button.purple:hover {
	background: #7400e9;
}
.sf-button.grey:hover {
	background: #444;
}
.sf-button.lightgrey:hover {
	background: #aaa;
}


/*========== Alert Shortcodes ==========*/

.alert {
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	padding: 12px 15px;
	text-align: left;
	margin: 0 0 20px;
	font-weight: normal;
}
.alert.grey {
	background-color: #ccc;
	color: #111;
}
.alert.red {
	background-color: #fa2d3c;
	color: #fff;
}
.alert.green {
	background-color: #afff7f;
	color: #111;
}
.alert.blue {
	background-color: #8cdeff;
	color: #111;
}

/*========== Image Shortcodes ==========*/

.glowframe img {
	border: 6px solid transparent;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	width: 96%;
}
.borderframe img {
	border: 6px solid transparent;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.shadowframe img {
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
	box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

/*========== Testimonials Shortcodes ==========*/

.testimonial-wrap {
	margin-bottom: 20px;
}
.testimonial-wrap.large .testimonial-text {
	font-size: 16px;
}
ul.testimonials {
	margin-bottom: 0;
	list-style: none;
}
.testimonials > li {
	padding-top: 30px;
	margin-bottom: 30px;
	border-top: 1px dotted transparent;
}
.testimonials > li:first-child {
	padding-top: 0;
	border-top: 0;
}
.testimonial-text {
	font-style: italic;
	margin-bottom: 5px;
}
.testimonial-wrap.large .testimonial-text {
	margin-bottom: 10px;
}
.testimonial-text p {
	margin-bottom: 10px;
}
.testimonial-wrap cite, .wpb_testimonial_carousel_widget cite {
	font-weight: bold;
}
.testimonial .pagination-wrap {
	display: none;
}
.span12.testimonial .pagination-wrap {
	display: block;
}
.wpb_testimonial_carousel_widget .jcarousel-clip {
	width: 100%;
}
.testimonials.carousel-items li {
	padding-top: 0;
	border-top: 0;
}

/*========== Jobs Shortcodes ==========*/

ul.jobs {
	list-style: none;
}
.jobs > li {
	padding-top: 30px;
	margin-bottom: 30px;
	border-top: 1px dotted transparent;
}
.jobs > li:first-child {
	padding-top: 0;
	border-top: 0;
}
.jobs .sf-list {
	margin-top: 15px;
	margin-bottom: 10px;
}
.jobs a.button {
	margin-top: 10px;
}
.jobs-overview {
	list-style: disc inside none;
}
.jobs-overview .job {
	margin-bottom: 4px;
}
.jobs-overview .job a {
	text-decoration: none;
}


/*========== Jobs Shortcodes ==========*/

.search-widget {
	margin-bottom: 0;
}
.search-widget input {
	margin: 25px 0;
	width: 80%;
	padding: 10px 5% 10px 30px;
}

/*========== FAQS Shortcodes ==========*/

ul.faqs-nav {
	padding-bottom: 30px;
	border-bottom: 2px solid #f4f4f4;
	margin-bottom: 40px;
	list-style: none;
}
.faqs-nav li {
	float: left;
	width: 44%;
	padding: 10px 10px 10px 10px;
	border: 1px solid #F4F4F4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 10px 10px 0;
}
.faqs-nav li a {
	text-decoration: none;
}
.faqs-nav li i {
	margin-right: 8px;
}
.faqs-nav li .count {
	float: right;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity= 60);
}
h3.faq-section-title {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
ul.faqs-section {
	margin-bottom: 60px;
	list-style: none;
}
.faq-item h6 {
	margin-bottom: 15px;
}
.faq-item {
	padding-top: 40px;
	border-top: 1px dotted #ccc;
	margin-bottom: 40px;
}
.faq-item:first-child {
	border-top: 0;
	padding-top: 0;
}

/*========== Column Shortcodes ==========*/

.one_half {
	width: 48%;
}
.one_third {
	width: 30.66%;
}
.two_third {
	width: 65.33%;
}
.one_fourth {
	width: 22%;
}
.three_fourth {
	width: 74%;
}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
	position: relative;
	margin-right: 4%;
	float: left;
}
.last {
	margin-right: 0 !important;
	clear:right;
}
.clearboth {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}

/*========== Sitemap Shortcode ==========*/

.sitemap-wrap {
	margin-bottom: 20px;
}
.sitemap-col {
	float: left;
	width: 28%;
	margin-left: 7%;
}
.sitemap-col:first-child {
	margin-left: 0;
}
.sitemap-col h6 {
	margin-bottom: 15px;
}
.sitemap-col ul {
	margin-bottom: 40px;
	list-style: none!important;
}
.sitemap-col ul li {
	margin-bottom: 8px;
}
.sitemap-col ul li a {
	text-decoration: none;
}

/*========== Map Shortcode ==========*/

.wpb_gmaps_widget .wpb_map_wraper {
	padding: 0;
}
.map {
	margin-bottom: 15px;
}
.map iframe {
	width: 100%;
}
.map-canvas img {
	max-width: none;
}


/*========== Divider Shortcode ==========*/

.horizontal-break {
	height: 1px;
	width: 100%;
	margin: 30px 0;
}


/*========== Client Shortcode ==========*/

.client-box {
	width: 228px;
	height: auto;
	background-color: #fafafa;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin: 0 2px 7px 5px;
}
.client-box img {
	width: 100%;
	height: auto;
	display: block;
}


/*========== Google Chart Shortcodes ==========*/

.googlechart {
	margin-bottom: 20px;
	width: 100%;
}

/*========== Icon Shortcodes ==========*/

.sf-icon {
	font-size: 22px;
	line-height: 26px;
	padding: 0 5px 6px 0;
	width: auto;
	height: 24px;
	background-image: none;
}
.sf-icon.icon-medium {
	font-size: 38px;
	line-height: 40px;
	width: auto;
	height: 38px;
	padding: 0px 10px 2px 0;
}
.sf-icon-cont.cont-small .sf-icon {
	line-height: 30px;
}
.sf-icon-cont.cont-medium .sf-icon {
	line-height: 50px;
}
.sf-icon.icon-large {
	font-size: 50px;
	line-height: 69px;
	width: auto;
	height: 56px;
	padding: 0px 12px 6px 0;
}
.sf-icon-cont.cont-large .sf-icon {
	line-height: 80px;
}
.sf-icon-cont .sf-icon {
	padding: 0;
}
.sf-icon-cont {
	background-image: none;
	padding: 18px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
	margin-right: 20px;
	height: 28px;
	width: 28px;
	line-height: 12px;
}
.sf-icon-cont.cont-small {
	padding: 8px;
}
.sf-icon-cont.cont-medium {
	background-image: none;
	padding: 25px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
	width: 48px;
	height: 48px;
	line-height: 12px;
}
.sf-icon-cont.cont-large {
	background-image: none;
	padding: 37px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	width: 77px;
	height: 77px;
}
.sf-icon.icon-large::before {
	font-size: 72px;
}
.sf-icon-float-left {
	float: left;
	padding: 5px 10px 0 0;
}
.sf-icon-float-right {
	float: right;
	padding: 5px 0 0 10px;
}
.sf-icon-float-none {
	display: inline-block;
}


/*========== Typography Shortcodes ==========*/

span.highlighted {
	padding: 1px 3px;
	border-radius: 1px;
	margin-right: 2px;
	color: #fff;
}
span.dropcap1, span.dropcap2 {
	float: left;
	padding: 11px 0px 9px;
	margin-right: 8px;
	font-size: 46px;
	font-family: serif;
	font-style: normal;
}
span.dropcap3, span.dropcap4 {
	float: left;
	font-family: serif;
	font-style: normal;
	font-size: 18px;
	padding: 6px 10px;
	margin: 4px 10px 2px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
span.dropcap4 {
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
blockquote {
	border-left: 0;
	padding: 10px 0;
}
blockquote, blockquote p {
	font-size: 18px;
	line-height: 28px;
	font-style: italic;
}
blockquote.blockquote1, blockquote.blockquote1 p, blockquote.pullquote, blockquote.pullquote p {
	font-size: 12px;
	line-height: 18px;
}
blockquote.blockquote2, blockquote.blockquote1 p {
	font-size: 14px;
	line-height: 22px;
}
blockquote.pullquote {
	border-left: 1px dotted transparent;
	padding: 0 0 0 20px;
}

/*========== List Shortcode ==========*/

.sf-list {
	margin-left: 0;
	list-style: none!important;
}
.sf-list li {
	padding: 0 0 0 20px;
}
.list-add_bw li {
	background: transparent url('images/list-icons/add_b&w.png') no-repeat 2px 3px;
}
.list-add li {
	background: transparent url('images/list-icons/add_colour.png') no-repeat 2px 3px;
}
.list-arrow_bw li {
	background: transparent url('images/list-icons/arrow_b&w.png') no-repeat left 3px;
}
.list-arrow li {
	background: transparent url('images/list-icons/arrow_colour.png') no-repeat left 3px;
}
.list-article li {
	background: transparent url('images/list-icons/article_b&w.png') no-repeat left 3px;
}
.list-bar li {
	background: transparent url('images/list-icons/bar_b&w.png') no-repeat left 6px;
}
.list-bolt_bw li {
	background: transparent url('images/list-icons/bolt_b&w.png') no-repeat 2px 3px;
}
.list-bolt li {
	background: transparent url('images/list-icons/bolt_colour.png') no-repeat 2px 3px;
}
.list-date li {
	background: transparent url('images/list-icons/date_b&w.png') no-repeat left 3px;
}
.list-delete_bw li {
	background: transparent url('images/list-icons/delete_b&w.png') no-repeat 1px 4px;
}
.list-delete li {
	background: transparent url('images/list-icons/delete_colour.png') no-repeat 1px 4px;
}
.list-dot li {
	background: transparent url('images/list-icons/dot_b&w.png') no-repeat 2px 5px;
}
.list-like_bw li {
	background: transparent url('images/list-icons/like_b&w.png') no-repeat left 3px;
}
.list-like li {
	background: transparent url('images/list-icons/like_colour.png') no-repeat left 3px;
}
.list-pen li {
	background: transparent url('images/list-icons/pen_b&w.png') no-repeat left 3px;
}
.list-question_bw li {
	background: transparent url('images/list-icons/questionMark_b&w.png') no-repeat left 3px;
}
.list-question li {
	background: transparent url('images/list-icons/questionMark_colour.png') no-repeat left 3px;
}
.list-settings_bw li {
	background: transparent url('images/list-icons/settings_b&w.png') no-repeat left 3px;
}
.list-settings li {
	background: transparent url('images/list-icons/settings_colour.png') no-repeat left 3px;
}
.list-star_bw li {
	background: transparent url('images/list-icons/star_b&w.png') no-repeat left 3px;
}
.list-star li {
	background: transparent url('images/list-icons/star_colour.png') no-repeat left 3px;
}
.list-tick_bw li {
	background: transparent url('images/list-icons/tick_b&w.png') no-repeat left 3px;
}
.list-tick li {
	background: transparent url('images/list-icons/tick_colour.png') no-repeat left 3px;
}
.list-user li {
	background: transparent url('images/list-icons/user_b&w.png') no-repeat left 3px;
}
.list-warning_bw li {
	background: transparent url('images/list-icons/warning_b&w.png') no-repeat left 3px;
}
.list-warning li {
	background: transparent url('images/list-icons/warning_colour.png') no-repeat left 3px;
}

/*========== Social Shortcode ==========*/

ul.social-icons {
	height: auto;
	overflow: hidden;
	margin-right: -12px;
	list-style: none!important;;
}
ul.social-icons li {
	float: left;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 12px;
	background: none;
	padding: 0!important;
	line-height: 32px!important;
	border: 0!important;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
ul.social-icons li a {
	background: transparent url(images/social-icons.png) no-repeat 0 0;
	display: block;
	width: 32px;
	height: 32px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
ul.social-icons:hover li, ul.social-icons-small:hover li {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity= 50);
}
ul.social-icons li:hover, ul.social-icons-small li:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
ul.social-icons li.twitter a {
	background-position: 0 0;
}
ul.social-icons li.facebook a {
	background-position: -32px 0;
}
ul.social-icons li.dribbble a {
	background-position: -64px 0;
}
ul.social-icons li.vimeo a {
	background-position: -96px 0;
}
ul.social-icons li.tumblr a {
	background-position: -128px 0;
}
ul.social-icons li.spotify a {
	background-position: -160px 0;
}
ul.social-icons li.linkedin a {
	background-position: -192px 0;
}
ul.social-icons li.lastfm a {
	background-position: -224px 0;
}
ul.social-icons li.googleplus a {
	background-position: -256px 0;
}
ul.social-icons li.flickr a {
	background-position: -288px 0;
}
ul.social-icons li.youtube a {
	background-position: -320px 0;
}
ul.social-icons li.behance a {
	background-position: -352px 0;
}
ul.social-icons li.pinterest a {
	background-position: -384px 0;
}
ul.social-icons li.instagram a {
	background-position: -416px 0;
}
ul.social-icons li.yelp a {
	background-position: -448px 0;
}
ul.social-icons li.skype a {
	background-position: -480px 0;
}
ul.social-icons li.rss a {
	background-position: -512px 0;
}
ul.social-icons-small {
	height: auto;
	overflow: hidden;
	margin-right: -5px;
	list-style: none!important;
}
ul.social-icons-small li {
	width: 24px;
	height: 24px;
	margin: 0 5px 0 0;
	float: left;
	display: inline-block;
	background: none;
	padding: 0!important;
	line-height: 24px!important;
	border: 0!important;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
ul.social-icons-small li a {
	background: transparent url(images/social-icons-small.png) no-repeat 0 0;
	display: block;
	width: 24px;
	height: 24px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
ul.social-icons-small li.twitter a {
	background-position: 0 0;
}
ul.social-icons-small li.facebook a {
	background-position: -24px 0;
}
ul.social-icons-small li.dribbble a {
	background-position: -48px 0;
}
ul.social-icons-small li.vimeo a {
	background-position: -72px 0;
}
ul.social-icons-small li.tumblr a {
	background-position: -96px 0;
}
ul.social-icons-small li.spotify a {
	background-position: -120px 0;
}
ul.social-icons-small li.linkedin a {
	background-position: -144px 0;
}
ul.social-icons-small li.lastfm a {
	background-position: -168px 0;
}
ul.social-icons-small li.googleplus a {
	background-position: -192px 0;
}
ul.social-icons-small li.flickr a {
	background-position: -216px 0;
}
ul.social-icons-small li.youtube a {
	background-position: -240px 0;
}
ul.social-icons-small li.behance a {
	background-position: -264px 0;
}
ul.social-icons-small li.pinterest a {
	background-position: -288px 0;
}
ul.social-icons-small li.instagram a {
	background-position: -312px 0;
}
ul.social-icons-small li.yelp a {
	background-position: -336px 0;
}
ul.social-icons-small li.skype a {
	background-position: -360px 0;
}
ul.social-icons-small li.rss a {
	background-position: -384px 0;
}


/*========== Latest Tweet Shortcode ==========*/

.latest-tweet ul {
	margin-bottom: 10px;
	list-style: none!important;
}
.latest-tweet ul li {
	margin-left: 0;
}
.latest-tweet p {
	margin-bottom: 0;
}
.latest-tweet .tweet-author {
	margin-right: 4px;
	font-weight: bold;
}
.latest-tweet .tweet-date {
	text-decoration: none;
	color: #999;
	margin-left: 5px;
	display: inline-block;
}


/*========== Gallery Shortcode ==========*/

.gallery {
	padding-top: 10px;
}
.gallery .gallery-item {
	width: auto;
	float: left;
	display: inline;
	margin: 0 14px 14px;
	width: 17%;
}
.gallery-item .gallery-icon {
	background: #222 url(images/view-image.png) no-repeat center center;
	width: 100%;
	height: auto;
}
.gallery-item .gallery-icon a {
	display: block;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
.gallery-icon a img {
	display: block;
	width: 100%;
	height: auto;
}
.gallery-item .gallery-icon a:hover {
	opacity: 0.1;
	-moz-opacity: 0.1;
	filter:alpha(opacity= 10);
}

/*========== Accordion Shortcode ==========*/

.minimal .wpb_accordion_section {
	border-bottom: 2px solid transparent;
	padding: 0 0 0 10px;
}
.minimal .wpb_accordion_section h3 > a {
	padding: 20px 0;
	margin-left: 35px;
}
.minimal .wpb_accordion_section:first-child {
	border-top: 2px solid transparent;
}
.wpb_accordion .ui-accordion .ui-accordion-content {
	border: 0;
	padding: 20px;
}
.wpb_accordion .ui-accordion .ui-accordion-header {
	position: relative;
}
.minimal .ui-accordion .ui-accordion-header .ui-icon {
	top: 20px!important;
	position: absolute!important;
}
.ui-accordion-content .wpb_wrapper p:last-child {
	margin-bottom: 0;
}
.ui-accordion-content .wpb_wrapper .box-content-wrap p:last-child {
	margin-bottom:20px;
}
.wpb_accordion_section > h3 {
	font-size: 12px;
	font-weight: bold;
	outline: 0!important;
}
.wpb_accordion_section > h3 a {
	text-decoration: none;
}
.wpb_accordion_section > h3 .ui-icon {
	display: inline;
}
.wpb_accordion_section > h3 .ui-icon:before {
	content: "\f055";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: 12px;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
	margin-top: -1px;
	font-size: 14px;
}
.wpb_accordion_section h3.ui-state-active .ui-icon:before {
	content: "\f056";
}
.wpb_accordion.standard .wpb_accordion_section {
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.wpb_accordion.standard .wpb_accordion_section h3.ui-state-active {
	border-bottom: 1px dotted transparent;
}
.wpb_accordion .ui-state-active, .wpb_accordion .ui-state-default {
	border: 0!important;
	background: none!important;
}
.accordion {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 20px;
}
.accordion .accordion-header {
	border-top: 1px solid #e8e8e8;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
	color: #666;
}
.accordion .accordion-header:first-child {
	border-top: none;
}
.accordion .accordion-body {
	border-top: 1px solid #e8e8e8;
	padding: 10px;
	color: #222;
	background-color: #f7f7f7;
}
.accordion .accordion-header.ui-state-active, .accordion .accordion-header.ui-state-focus {
	outline: none;
}
.accordion .accordion-header.ui-state-active {
	color: #000;
}
.ui-accordion .ui-accordion-header .ui-icon {
	position: relative!important;
	left: 15px!important;
	top: 15px!important;
	margin-top: 0!important;
	background-image: none!important;
	text-indent: 0!important;
	display: block;
}
.wpb_accordion.standard .wpb_accordion_section > h3 a {
	padding: 15px 34px;
}
.ui-accordion .ui-accordion-header a {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
	display: block;
}

/*========== Tabs Shortcode ==========*/

.tabbed-asset {
	overflow: hidden;
	margin-bottom: 20px;
}
.tab-content {
	padding: 10px;
	background-color: #f7f7f7;
	color: #222;
}
.tab-content.ui-tabs-hide {
	display: none;
}
ul.tabs {
	margin-bottom: 0;
	border: 0;
	list-style: none!important;
}
ul.tabs li {
	height: auto;
}
ul.tabs li a {
	font-size: 14px;
	padding: 10px;
	height: auto;
	line-height: 20px;
	color: #666;
	font-weight: bold;
	border: 0;
}
ul.tabs li.ui-state-default a {
	background-color: transparent;
}
ul.tabs li.ui-state-active a {
	color: #222;
	background-color: #f7f7f7;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.wpb_tabs .ui-tabs .ui-tabs-panel, .wpb_accordion_section .ui-accordion-content {
	background: transparent;
}
.wpb_tabs.standard .ui-tabs .ui-tabs-nav li {
	border-left-width: 0;
}
.wpb_tabs.minimal .ui-tabs .ui-tabs-panel {
	padding: 17px 17px 0 17px;
}
.ui-tabs .ui-tabs-nav li {
	margin: 0!important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 1px!important;
}
.wpb_tabs.standard .ui-tabs .ui-tabs-nav li:first-child {
	border-left-width: 1px;
}
.wpb_tabs .ui-tabs .ui-tabs-nav li a {
	padding: 12px 15px;
}
.wpb_tabs.minimal ul li {
	margin: 0;
}
.wpb_tabs.minimal ul li a {
	padding: 15px 20px;
}
.wpb_tabs.minimal .ui-state-default {
	border-width: 0;
	background: transparent;
	padding-bottom: 2px;
}
.wpb_tabs.minimal .ui-tabs .ui-tabs-nav li.ui-state-default a {
	padding-bottom: 15px;
	padding-top: 15px;
}
.wpb_tabs.minimal .ui-tabs .ui-tabs-nav li.ui-state-active a {
	padding-top: 15px;
}
.wpb_tabs.minimal .ui-state-active {
	border-width: 1px;
}
.wpb_tabs.minimal .ui-tabs .ui-tabs-panel {
	border: 0;
}
